<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.enterprise-platform.todo-ingress</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/kubectl</string>
		<string>port-forward</string>
		<string>-n</string>
		<string>ingress-nginx</string>
		<string>svc/ingress-nginx-controller</string>
		<string>8080:80</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/rajugupta</string>
		<key>KUBECONFIG</key>
		<string>/Users/rajugupta/.kube/config</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>10</integer>
</dict>
</plist>
