<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.enterprise-platform.minikube-tunnel</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/minikube</string>
		<string>-p</string>
		<string>minikube</string>
		<string>tunnel</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/rajugupta</string>
		<key>KUBECONFIG</key>
		<string>/Users/rajugupta/.kube/config</string>
		<key>MINIKUBE_HOME</key>
		<string>/Users/rajugupta/.minikube</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>/var/log/minikube-tunnel.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/minikube-tunnel.log</string>
</dict>
</plist>
